/*
CSS Table of Contents

1. Variables
2. Resets
*/ 



// 1.Variables
:root{
    --primary-color: #000;
    --secondary-color: #fff;
    --font-family: 'Poppins', sans-serif;
}

// 2.Resets
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
}

a{
    color: var(--secondary-color);
}

h1{
    font-size: clamp(3rem,3.4vw,4.2rem);
    -webkit-text-fill-color:rgba(255,255,255,0);
    -webkit-text-stroke: 1px var(--secondary-color);
    color: none;
    margin-top: 0;
    margin-bottom: 4rem;
    line-height: 1.3;

    span{ -webkit-text-fill-color: rgba(255,255,255,1);}
} 

p{
    font-size: clamp(1.6rem,1.6vw,2rem);
    margin-top: 0;
    margin-bottom:25;
    line-height: 1.5;
}
.close{
    // display: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    z-index: 99999;
    right: 18px;
    padding: 20px;
    height: 50px;
    width: 50px;
    background: transparent;
    border: 0px;
    transform: translateX(320px);
    transition: transform 0.25s;

    &.is-active{
        transform: translateX(0);
    }
    @media (min-width: 600px){

        display: none;
    }        
}

.pt-1{
    padding-top: 8.2rem;;
}
.mt-1{
    margin-top: 8.2rem;;
}
.text-center{
    text-align: center;
}
.skip-to-content{
    position: absolute;
    top: 20px;
    padding: 6px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 2;
    transform: translateY(-300%);
    transition: ease-in-out 0.3s;
    left: 50%;
    margin-left: -66px;
    overflow-y: hidden;

    &:focus{
        transform: translateY(0%);
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

i{
    width: 43px;
    height: 32px;
}
.logo{
    width: 70px;
    align-items: center;
    @media (min-width:600px){
        position: relative;
        top: 35px;
    }
}
.container{

    max-width: 65%;
    margin: 0 auto;
    padding: 0 20px;

}

.burger{

    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    background: transparent;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 1.16rem 4.24rem;

    &-primary{
        background-color: rgba(255,255,255,0.2);
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    &:hover{
        background-color: rgba(255,255,255,0.4);
    }
}
}
// Header

.header{

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 0px;

    &logo{

        margin: 0;
    }
    .container{

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
#mobileMenuBtn{

        padding: 10px;

    @media(min-width: 600px){

        display: none;
    }  
}    

.menu{

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(620px);
    transition: transform 0.25s;

    &.is-active{
        transform: translateX(0);
    }
    ul{
        height: 94vh;
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-color: var(--primary-color);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30vw;
        padding-top: 4rem;
        overflow: hidden;
    }

    &-link{
        margin-top: 20px;
        display: inline-block;
        padding: 1.6rem 4rem;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 14;
    }
    &-link:hover{
        border-bottom: 1px solid var(--secondary-color);
    }

    @media(min-width: 600px){
    
        display: block;
        position: absolute;
        top: 5px;
        width: 100%;
        height: 80px;
        background: inherit;
        right: 20px;
        transform: translateX(0);

        ul{
            flex-grow: 2;
            background: inherit;
            position: absolute;
            top:30px;
            left: calc(100vw - 450px);
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            gap: 10px;
        }
    
        &-link{
    
            padding: 6px 10px;
            text-decoration: none;
        }
    
        &:hover{
            text-decoration: underline;
        }
    }
}


//hero

.hero{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: -1;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.85) 75%,#000 100%);
   }

    &-image{
        position: absolute;
        top: -9px;
        right: 0;
        bottom: 0;
        left: 0;

        img{
            object-fit: cover;
            width: 100%;
            height: 95%;
            z-index: -1;
        }
    }
    &-cont{
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    &-scrollbtn{
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
        text-decoration: none;
        bottom: 4%;
    }
    img,svg{
        margin-top: 1rem;
    }
    
}

// hero wrapper

.hero-wrapper{
    &-heading{
        max-width: 800px;
        margin: 0 auto 4rem auto;
        font-size: clamp(5rem,10vw,10rem);
        line-height: 1;
    }
    &-body{
        max-width: 500px;
        margin: 0 auto 3rem auto;
    }
}

//categories

.training{
    display: grid;
    grid-gap: 20px;
    z-index: -1;
    @media (min-width:600px){
        grid-template-columns: repeat(3, 1fr);
    }

   

    &-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        min-height: auto;
        aspect-ratio: 1 /1 ;
        padding: 10px;
        z-index: -1;

        &-title{
            font-size: 3rem;
            z-index: 2;
            text-align: center;
        } 
        &-body{
            z-index: 2;
            text-align: center;
        }
        &-end{
            justify-content: flex-end;
        }
        
    }
    &-image{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .image-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.5);

        &:hover{
            background-color: rgba(0,0,0,0.3);
        }
    }
}
//get started
.get-started{
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 140px;
        background: #000;
        background: linear-gradient(180deg,rgba(0,0,0,1)10%,rgba(0,0,0,0)100%);
        width: 100%;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 140px;
        background: #000;
        background: linear-gradient(0deg,rgba(0,0,0,1)10%,rgba(0,0,0,0)100%);
        width: 100%;
    }
    .overlay{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.6;
    }
    .container{
        text-align: center;
        z-index: 1;
    }
    
}
.get-started-imag1{
    background-image: url("../images/get-started.jpg");
    .overlay{
        background: linear-gradient(#000 0%,#4b0000 100%);
    }
}
.get-started-imag2{
    background-image: url("../images/we-will-help.jpg");
    .overlay{
        background: rgba(0,0,0,0.5);
    }
}

// Training Options

.training-options{
    &-body{
        max-width: 810px;
        margin:0 auto;
    }
}

//footer
.footer{
    &-copyright{
        margin-bottom: 20px;
    }
}

.footer-container{
    display: grid;
    gap:10;

    @media (min-width:600px){
        grid-template-columns: repeat(3,1fr);
    }
    @media (min-width:800px){
        grid-template-columns: repeat(3,1fr);
    }
}
.footer-col{
    &-heading{
        font-size: 1.8rem;
    }
    &-list{
        padding: 0;
        margin: 0;
        list-style-type: none;

        li{
            margin-bottom: 10px;

            a{
                padding: 8px 0;
                display: block;
                text-decoration: none;
            }
        }
    }
}